.navbar {
  /* background: white; */
  height: 220px;
  padding-right:50px;
  padding-left:100px;
}

.navbar-light .navbar-brand {
  position: fixed !important;
  font-family: "Arial";
  /*margin-top: -0.5em;*/
  /*margin-left: 1.3em;*/
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
  color: #F59A9A;
  text-shadow: -3px 2.5px #FFE0E0;
  line-height: 60px;
  letter-spacing: 5px;
  /* max-width: 400px; */
}

.navbar-light .navbar-brand:hover {
  color: #F6CD5D;
}

h2 {
  font-family: "Arial";
  /* font-size: 1.4vw; */
  font-size: 18px;
  font-weight: bold;
  color: #F59A9A;
  /*text-shadow: -1px 0.5px #FFE0E0;*/
  letter-spacing: 2px;
  position: relative;
}

h2 span {
  position: absolute;
  top: 200px;
}

p, li {
  font-family: "Arial";
  font-size: 12px;
  color: black;
  letter-spacing: 1.3px;
  /*text-align: justify;*/
  margin-left: 1.5em;
  margin-bottom: 0;
}

body {
  width: 100%;
  height: auto;
  padding-top: 220px;
  padding-right: 5em;
  background-color: white;
  position: fixed;
}


#sidebar {
  /* width: fixed; */
  padding-left:4em;
  padding-top:2em;
  padding-bottom:2em;
}

.fixed { 
  overflow:hidden;
}
.scroll { 
  position: relative;
  height:400px;
  overflow-y:scroll;
}

p.experience-list {
  padding-left:17px;
  color: #F1BB87;
}

ul.skills-list {
  list-style-type: none;
  padding: 0px;
}

.skills-list > li:before {
  content: "> ";
  color: #F1BB87;
}

a {
  color: #F1BB87;
  text-decoration: none;
}

a:hover, a:active {
  /*font*/
  color: #F6CD5D;
  /*text-decoration: underline;*/
}

.navbar-light .navbar-nav .nav-item .active {
  color: #F6CD5D;
  font-weight: bold;
  /* text-decoration: underline; */
  border-bottom-color: #F6CD5D;
  border-bottom: 3px solid;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 16px;
  color: #F1BB87;
  letter-spacing: 1.46px;
  margin-top: -4em;
  margin-left: 15px;
  margin-right: 0px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #F6CD5D;
  border-bottom-color: #F6CD5D;
  border-bottom: 3px solid;
}

a:focus {
  color: #F6CD5D;
  text-decoration: none;
  /*border-bottom-color: #773344;*/
  border-bottom: none;
}

#social-media {
  font-family: "Arial";
  font-size: 12px;
  letter-spacing: 1.3px;
  padding-left: 1.5em;
  text-align: left;
}

#social-media a {
  color: #EFA662;
  /*border*/
}

#social-media a:hover {
  color: #F6CD5D;
  text-decoration: none;
}





