#centered {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

#last-update {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 20px;
}

h1 {
  font-family: "Futura";
  font-size: 60px;
  font-style: medium;
  color: white;
}

p {
  font-family: "Futura";
  font-size: 15px;
  color: white;
}

body {
  background-color: #EFCCCA;
}

a:link {
  color: #902D3E;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover, a:active {
  color: #902D3E;
  text-decoration: none;
}

a.active {
  color: #902D3E !important;
}
