#last-update {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 20px;
}

body {
	background-color: #fff;
	padding: 70px 100px;
}

.row {
	margin-bottom: 50px;
}

@media (min-width: 992px) {
	#sidebar {
		position: fixed;
	}
}

i.fa-github {
	font-size: 25px;
}

.btn-circle {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
  margin-right: 8px;
}

.btn-github-alt {
	color: #fff;
	background-color: #000;
	border-color: #000;
}

.btn-linkedin {
	color: #fff;
	background-color: #0273B2;
	border-color: #0273B2;
}

.btn-twitter {
	color: #fff;
	background-color: #2EAAE1;
	border-color: #2EAAE1;
}

.btn-tumblr {
	color: #fff;
	background-color: #2A445F;
	border-color: #2A445F;
}

h1 {
	font-family: 'Pontano Sans', sans-serif;
	font-weight: 300;
	font-size: 40px;
	color: #5cc1a9;
}

h1 a {
	color: #5cc1a9 !important;
}

h2 {
	font-family: 'Pontano Sans', sans-serif;
	font-size: 25px;
	margin-top: 10px;
	margin-bottom: 5px;
}

h3 {
	font-family: 'Yantramanav', sans-serif;
	font-weight: 300;
	font-size: 20px;
	margin-top: 3px;
	margin-bottom: 3px;
}

h4 {
	font-family: 'Yantramanav', sans-serif;
	font-weight: 100;
	font-size: 20px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 25px;
}

p {
	font-family: 'Pontano Sans', sans-serif;
	font-size: 15px;
}

a:link {
	color: #5cc1a9;
	text-decoration: none;
}

a:visited {
	color: #5cc1a9;
	text-decoration: none;
}

a:hover, a:active {
	color: #5cc1a9;
	text-decoration: none;
}

a.active {
	color: #5cc1a9 !important;
}

a b {
	color: #5cc1a9 !important;
}

#sidebar a:link {
	color: black;
	text-decoration: none;
}

#sidebar a:visited {
	color: black;
	text-decoration: none;
}

#sidebar a:hover, a:active {
	color: #5cc1a9;
	text-decoration: none;
}

#content {
	padding-top: 20px;
	max-width: 100%;
	overflow-x: hidden;
}

#buttons {
	padding-top: 10px;
}

#buttons a:link {
	color: #fff;
}

#buttons a:visited {
	color: #fff;
}

#buttons a:hover {
	color: #5cc1a9;
}

#buttons a:active {
	color: #fff;
}
